* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald";
  }
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/media/background-img.jpg");
    background-repeat: none;
    background-size: cover;
  }
  .form-container {
    padding: 20px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 20px;
  }

  input {
    padding: 8px 12px;
    background-color: transparent;
    color: #000f5ad6;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 2px solid #000f5ad6;
  }
  ::placeholder {
    color: #000f5ad6;
    font-size: 16px;
    text-transform: uppercase;
  }
  .span-input {
    grid-column: span 2;
  }
  .btn {
    background-color: #000f5ad6;
    color: #fff;
    grid-column: span 2;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 0px;
  }